html, body {
  height: 90%;
  width: 100%;
  text-align: center;
  background-image: url('http://www.nasa.gov/sites/default/files/thumbnails/image/main_image_star-forming_region_carina_nircam_final-5mb.jpg');
  overflow-y: scroll;
}

h1,h2, h3 {
color: white;
background: rgba(159,90,253,.5);
font-family: 'Libre Baskerville', serif;
}

p{
  background-color: white;
  border: 2px double purple;
}

h1{
  font-family: 'Permanent Marker', cursive;
  font-size: 64px;
}

.hidden {
  display:none;
}